.image-side{
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.image-box{
    
    margin: 25px;
    padding: -10px;
    border-radius: 25px;
    margin-top: 50px;
}
.prod-description{
    font-size: 2vh;
    color: #4b5563;
    line-height: 1.5;
    margin: 0;
    /* Truncates text after 3 lines if description is too long */
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.prod-name{
    font-size: 3vh;
    font-weight:500;
}
.prod-price{
    padding: 30px;
}
.button-container
button {
    width: 7vh;
    background-color: #e1d2d2;
    border-radius: 25px;
    margin: 10px;
   
}
.button-container button:hover{
     transform: translateY(-4px);
     background-color: #c9b9b9;
    
}
.button-container{
    margin-top: 35px;

}
.cart-icon{
    margin: 30px;
    background-color: bisque;
    width: 6vh;
    text-align: center;

}
    


